<style type="text/css">
    * {
        user-select: none;
    }
    .pagination li {
        list-style: none;
        float: left;
        margin-left: 10px;
        padding: 0 10px;
        background-color: #5a98de;
        border: 1px solid #ccc;
        height: 26px;
        line-height: 26px;
        cursor: pointer;
        color: #fff;
    }
    .pagination li a {
        color: white;
        padding: 0;
        line-height: inherit;
        border: none;
    }
    .pagination li a:hover {
        background-color: #5a98de;
    }
    .pagination li.active {
        background-color: white;
        color: gray;
    }
    .pagination li.disabled {
        background-color: white;
        color: gray;
    }
</style>
<!-- 右 -->
<div class="content">
    <div class="header">
        <h1 class="page-title">管理员列表</h1>
    </div>

    <div class="well">
        <!-- search button -->
        <form action="" method="get" class="form-search">
            <a class="btn btn-primary" href="{:url('admin/manager/create')}">新增</a>
        </form>
    </div>
    <div class="well">
        <!-- table -->
        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>编号</th>
                <th>用户名</th>
                <th>昵称</th>
                <th>邮箱</th>
                <th>头像</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {volist name='data' id='vol' key="key"}
            <tr class="success" style="height: 50px;">
                <td style="line-height: 50px;">{$key}</td>
                <td style="line-height: 50px;">{$vol.username}</td>
                <td style="line-height: 50px;">{$vol.nickname}</td>
                <td style="line-height: 50px;">{$vol.email}</td>
                <td style="line-height: 50px;"><img src="{$vol.img}" width="50px"/></td>
                <td style="line-height: 50px;">
                    <a href="javascript:void(0);" class="del" data="{$vol._id}"> 删除 </a>
                    <a href="{:url('pwd',['id'=>$vol._id])}"> 修改密码 </a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <!-- pagination -->

    </div>
    <!-- footer -->
    <footer>
        <hr>
        <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
    </footer>
</div>

<form action="" method="POST" id="faker" style="display: none;">
    <input type="hidden" name="_method" value="DELETE">
</form>

<script>
    $(function(){
        $('.del').click(function(){
            if(confirm('确定要删除吗？')){
                var id = $(this).attr('data');
                var url = '/admin/manager/delete/id/' + id;
                $('#faker').attr('action',url)
                $('#faker').submit();
            }
        })
    })
</script>
